html { text-size-adjust: 100%; font-family: sans-serif; }
body { margin: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px; }
img { border: 0px; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { appearance: button; cursor: pointer; }
input { line-height: normal; }
fieldset { border: 1px solid silver; margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }
fieldset { margin: 0px; min-width: 0px; }
fieldset, legend { border: 0px; padding: 0px; }
legend { border-bottom: 1px solid rgb(229, 229, 229); color: rgb(51, 51, 51); display: block; font-size: 21px; line-height: inherit; margin-bottom: 20px; width: 100%; }
.container-fluid { margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }
.row { margin-left: -15px; margin-right: -15px; }
*, ::after, ::before { box-sizing: border-box; }
html { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 10px; }
body { background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857; }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
img { vertical-align: middle; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { color: inherit; font-family: inherit; font-weight: 500; line-height: 1.1; }
.h1, .h2, .h3, h1, h2, h3 { margin-bottom: 10px; margin-top: 20px; }
.h4, .h5, .h6, h4, h5, h6 { margin-bottom: 10px; margin-top: 10px; }
.h3, h3 { font-size: 24px; }
.h5, h5 { font-size: 14px; }
.h6, h6 { font-size: 12px; }
p { margin: 0px 0px 10px; }
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .panel-body::after, .panel-body::before, .row::after, .row::before { content: " "; display: table; }
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .panel-body::after, .row::after { clear: both; }
.material-icons { vertical-align: middle; }
@keyframes spin {
  100% { transform: rotate(1turn); }
}
@keyframes fadeAToB {
  0% { background-color: rgb(224, 230, 236); }
  100% { background-color: rgb(255, 255, 255); }
}
@keyframes countdown {
  0% { stroke-dashoffset: 0px; }
  100% { stroke-dashoffset: 113px; }
}
@keyframes pulse-ring {
  0% { transform: scale(0.33); }
  80%, 100% { opacity: 0; }
}
@keyframes pulse-dot {
  0% { transform: scale(0.8); }
  50% { transform: scale(1); }
  100% { transform: scale(0.8); }
}
@font-face { font-family: Muli; src: url("") format("woff"), url("") format("truetype"); }
html { font-size: inherit; }
body { -webkit-font-smoothing: antialiased; color: rgb(42, 52, 60); font-family: "Source Sans Pro", sans-serif; }
.loggedout { background: rgb(247, 249, 252); height: 100vh; }
@media (min-width: 768px) {
  .loggedout { display: block; height: 100%; overflow: auto; }
}
@media (max-width: 767px) {
  .loggedout { overflow: auto; }
}
.create-password-form, .login-form { width: 100%; }
input[type="password"] { letter-spacing: 4px; }